[[local|localrc]]
USE_SCREEN=True
USE_JOURNAL=False
USE_SYSTEMD=False

#NOVA
enable_service n-novnc

#NEUTRON
enable_service q-dhcp
enable_service q-svc
enable_service q-agt
enable_service q-l3
enable_service q-metadata
enable_service neutron
Q_PLUGIN=ml2

# networking-ansible
enable_plugin networking-ansible git://git.openstack.org/openstack/networking-ansible

#HEAT
disable_service h-eng
disable_service h-api
disable_service h-api-cfn
disable_service h-api-cw

#SWIFT
disable_service swift

#TEMPES
enable_service tempest

#CINDER
disable_service c-sch
disable_service c-api
disable_service c-vol

#HORIZON
disable_service horizon

HOST_IP={{ controller_host_ip }}

#PASSWORDS
PASSWORD={{ service_password }}
MYSQL_PASSWORD=$PASSWORD
SERVICE_TOKEN=$PASSWORD
SERVICE_PASSWORD=$PASSWORD
ADMIN_PASSWORD=$PASSWORD
RABBIT_PASSWORD=$PASSWORD

#ETC...
VOLUME_BACKING_FILE_SIZE=2048M
API_RATE_LIMIT=False
#VERBOSE=FALSE
SCREEN_LOGDIR=$DEST/logs/screen
DATA_DIR=/opt/data
