[[local|localrc]]
USE_SCREEN=True
USE_JOURNAL=False
USE_SYSTEMD=False

DEST=/opt/openstack
DATA_DIR=$DEST/data
LOGFILE=$DATA_DIR/logs/stack.log
SCREEN_LOGDIR=$DATA_DIR/logs
VERBOSE=False

#PASSWORDS
PASSWORD={{ service_password }}
MYSQL_PASSWORD=$PASSWORD
SERVICE_TOKEN=$PASSWORD
SERVICE_PASSWORD=$PASSWORD
ADMIN_PASSWORD=$PASSWORD
RABBIT_PASSWORD=$PASSWORD

ENABLED_SERVICES=n-cpu,neutron,n-novnc,q-agt,placement-client

MULTI_HOST=True
HOST_IP={{ compute_host_ip }}

SERVICE_HOST={{ controller_host_ip }}

MYSQL_HOST=$SERVICE_HOST
RABBIT_HOST=$SERVICE_HOST
Q_HOST=$SERVICE_HOST
GLANCE_HOSTPORT=$SERVICE_HOST:9292

VNCSERVER_PROXYCLIENT_ADDRESS=$HOST_IP
VNCSERVER_LISTEN=0.0.0.0
