[[local|localrc]]
USE_SCREEN=True
USE_JOURNAL=False
USE_SYSTEMD=False

#NOVA
enable_service n-novnc

#NEUTRON
disable_service n-net
enable_service neutron-dhcp
enable_service neutron-api
enable_service neutron-agent
enable_service neutron-l3
enable_service neutron-metadata-agent
enable_service neutron
Q_PLUGIN=ml2

#HEAT
disable_service h-eng
disable_service h-api
disable_service h-api-cfn
disable_service h-api-cw

#SWIFT
disable_service swift

#TEMPES
enable_service tempest

#CINDER
disable_service c-sch
disable_service c-api
disable_service c-vol

#HORIZON
disable_service horizon

HOST_IP={{ controller_host_ip }}

#PASSWORDS
PASSWORD={{ service_password }}
MYSQL_PASSWORD=$PASSWORD
SERVICE_TOKEN=$PASSWORD
SERVICE_PASSWORD=$PASSWORD
ADMIN_PASSWORD=$PASSWORD
RABBIT_PASSWORD=$PASSWORD

#ETC...
DEST=/opt/openstack
VOLUME_BACKING_FILE_SIZE=2048M
API_RATE_LIMIT=False
SCREEN_LOGDIR=$DEST/logs/screen
DATA_DIR=$DEST/data
LOGFILE=$DATA_DIR/logs/stack.log
SCREEN_LOGDIR=$DATA_DIR/logs
VERBOSE=False
